.cabeçalho{
    background-color:#FF9E9E ;
    padding: 0%;
    margin: 0%;
    height: 250%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo-corpo{
    display: flex;
    justify-content: center;
}
.div-imagem-p1 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    justify-content: space-around;
}
.div-imagem-p2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    justify-content: space-around;
}
.div-imagem-p3 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    justify-content: space-around;
}
.header{
    height: 250px;
    align-items: center;
    background-color: #FF9E9E;
    display: flex;
}
.imagem-cabeçalho-1{
    height: 170px;
    left: 70px;
    position: absolute;
    width: 300px;
    top: 17px;
}
.imagem-cabeçalho-2{
    min-height: 170px;
    justify-content: space-around;
    left: 1110px;
    position: absolute;
    width: 300px;
    top: 17px;
}
.titulo-cabeçalho{
    font-size: 48px;
    font-family: "Bree Serif";
    font-style: normal;
    font-weight: 400px;
    line-height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    color: #FF0101;
    width: 796px;
    height: 65px;
    left: 322px;
    top: 69px;
}